@font-face {
  font-family: "RobotoRegular";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoBlack";
  src: url(../font/Roboto/Roboto-Black.ttf);
}

:root {
  --mainColor: #8bcf4b;
  --secondColor: #5e9b25;
  --lightGrey: #f0f0f0;
  --checkBoxColor: #dfe1e4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "RobotoRegular";
  font-size: 18px;
  color: #454545;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

/***************************************
 General 
 ****************************************/

.outerContainer {
  height: 100vh;
}

.row {
  padding: 50px 0px;
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/***************************************
 Form 
 ****************************************/

input:focus-visible {
  border-style: solid;
  border-color: var(--mainColor);
  outline: none;
}

.fixedCostsRow {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.earning {
  height: 40px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}

.infoNote {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 10px;
}

.budgetingContainer {
  background-color: var(--lightGrey);
  padding: 20px;
}

.budgetingRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.budgetingRow .budgetingContainer {
  flex: 0 0 50%
}

.halfRowWrapper {
  display: flex;
  justify-content: space-between;
}

.halfRow {
  background-color: var(--lightGrey);
  padding: 20px;
}

.halfRow:first-child {
  flex: 0 0 40%;
}

.halfRow:nth-child(2) {
  flex: 0 0 55%;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputOuterContainer input[type="text"],
.inputOuterContainer input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.inputOuterContainer {
  padding: 5px;
}

.inputOuterContainer:first-child {
  flex: 1 1;
}

.inputOuterContainer:nth-child(2) {
  flex: 2;
}

.inputOuterContainer:nth-child(3) {
  flex: 3;
}

input[type="text"] {
  width: 100%;
}

/***************************************
 Buttons 
 ****************************************/

.mainButton {
  background-color: #78d122;
  font-size: 1em;
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.buttonHandler {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

/***************************************
 Custom checkbox
 ****************************************/

.checkboxWrapper .customCheckbox {
  appearance: none;
  background-color: var(--checkBoxColor);
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 33px;
  margin: 0;
  position: relative;
  width: 55px;
  align-items: center;
  justify-content: start;
  display: flex;
}

.checkboxWrapper .customCheckbox::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkboxWrapper .customCheckbox,
.checkboxWrapper .customCheckbox::after {
  transition: all 100ms ease-out;
}

.checkboxWrapper .customCheckbox::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 25px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 25px;
}

.checkboxWrapper input[type=checkbox] {
  cursor: pointer;
}

.checkboxWrapper .customCheckbox:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkboxWrapper .customCheckbox:checked {
  background-color: var(--mainColor);
}

.checkboxWrapper .customCheckbox:checked::after {
  background-color: #fff;
  left: 25px;
}

.checkboxWrapper :focus:not(.focus-visible) {
  outline: 0;
}

.checkboxWrapper .customCheckbox:checked:hover {
  background-color: var(--secondColor);
}

/***************************************
 Navigation
 ****************************************/

.topNavigation {
  background-color: #353535;
  color: #fff;
}

nav {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
}

/***************************************
 MediaQuery
 ****************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .inputWrapper {
    background-color: #b6b6b6;
    margin-bottom: 20px;
    padding: 10px;
    flex-wrap: wrap;
  }

  .inputOuterContainer:nth-child(2),
  .inputOuterContainer:nth-child(3) {
    flex: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .halfRowWrapper {
    flex-wrap: wrap;
  }

  .halfRow:first-child,
  .halfRow:nth-child(2) {
    flex: 0 0 100%;
  }

  .halfRow:nth-child(2) {
    margin-top: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}